html, body{
  margin: 0;
  padding: 0;
}

:root {
  --icon-size: 3.5em;
  --icon-increase: 1.4em;
  --main-color: #aaa;
  --largeIcon-size: 124px;
  --largeIcon-increase: 48px;
}

a {
  color:#202020;
  transition: color 1.5s;
}

a:hover{
  text-decoration: none;
  color:#202020;
  transition: color .5s;
}

a:visited{
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

#navBarDetection{
  opacity: 0;
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar {
  margin: 10 auto 0 auto;
  background-color: #000;
  box-shadow: 0 0 30px #00e5e6, 1px 1px 2px black;
  border-radius: 10px;
  display: none;
  border-bottom: 0;
}

.navbar li {
  margin-right: 5px;
  transition: background .5s;

}
.navbar-nav>li>a {
  padding-bottom: 12px;
}

.navbar li:hover {
  background: #094965;
  transition: background .5s;
}

.jumbotron {
  margin-bottom: 0;
  background-color: white;
}

.jumbo-size {
  position: relative;
  min-height: 100%;
}

.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

#home {
  background: url('../images/illuminated-keyboard-croped.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #00e5e6;
}

#home h1{
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin: 0 auto 80px auto;
  text-transform: uppercase;
  text-shadow: 0 0 30px #00e5e6, 1px 1px 2px white;
  max-width:660px;
  display: none;
}

h1.other{
  padding: 5px;
  color: #000000;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 75px;
}

#know{
  background: url('../images/office-black-and-white-1280x960.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #00e5e6;
}

#know .container{
  background-color: rgba(124, 124, 124, 0.8);
  margin-top: 50px; 
}

#know p{
  font-size: 2.5em;
}

.revealOnScroll{ opacity: 0}
.animated {
  animation: flyin 1s ease forwards;
  opacity: 0;
  transform: scale(2);
  filter: blur(4px);
}
 
@keyframes flyin {
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

#about .container{
    background-color: rgba(26, 24, 24, 0.918);
    margin-top: 50px;
}

#about{
  background: url('../images/forest-1183524_1280.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

#about img {
  display: block;  
  margin: 50px auto 20px auto;
  box-shadow: 0 0 15px black;
}

.slide-in{
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 110%;
  }
  to {
    margin-left: 41.5%;
  }
}

li {
  font-size: 1.25em;
  color:#222222;
}

#portfolio {
  background: url('../images/internet-connect-1278x981.jpg') no-repeat center center;
  background-size: cover;
  min-height: 1200px;
}

#portfolio .container{
  margin-top: 50px;
}

.thumbnail {
  background-color: rgba(124, 124, 124, 0.8);
  min-height: 200px;
  position: relative;
  padding-bottom: 40px;
}

.bottom{
  position: absolute;
  min-width: 125px;
  left:50%;
  margin-left:-63px;
  bottom: 20px;
}

#portfolio p, h3, h4, ul, li {
    color: #222222;
}

ul {
  display: block;
  text-align: left;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 40px;
}

#connect {
  background: url('../images/sky-828648_1280.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

#connect .container{
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 35%;
    padding-top: 20px;
}

.largeIcon{
  margin: calc(var(--largeIcon-increase)/2) ;
  width: var(--largeIcon-size);
  height:  var(--largeIcon-size);
  transition: .5s;
}

.largeIcon:hover {
  margin: 0;
  width: calc(var(--largeIcon-size) + var(--largeIcon-increase));
  height: calc(var(--largeIcon-size) + var(--largeIcon-increase));
  transition: .5s;
}

.icon {
  margin: calc(var(--icon-increase)/2) ;
  width: var(--icon-size);
  height:  var(--icon-size);
  transition: .5s;
}

.icon:hover {
  margin: 0;
  width: calc(var(--icon-size) + var(--icon-increase));
  height: calc(var(--icon-size) + var(--icon-increase));
  transition: .5s;
}


@media (max-width: 768px) {
  
    :root{
        --largeIcon-size: 114px;
        --largeIcon-increase: 24px;
      }
  .navbar-right {
    float: right!important;
  }
  
  .navText {
    display: none;
  }
  
  .navbar-nav {
    display: flex;
  }

}

@media (max-width: 464px) {

  :root{
    --largeIcon-size: 74px;
    --largeIcon-increase: 16px;
  }
  .navbar-brand,
  .navText {
    display: none;
  }
  
  .navbar-nav {
    display: flex;
  }
  
  #portfolio {
    min-height: 2100px;
  }
  
  #cicons {
    margin-left: auto;
    margin-right: auto;
  }
}
