html, body {
  margin: 0;
  padding: 0;
}

:root {
  --icon-size: 3.5em;
  --icon-increase: 1.4em;
  --main-color: #111111;
}
body {
  background-color: #555555;
  max-width: 1280px;
  margin: auto;
  padding-top: 50px;
}
a {
  color:#202020;
  transition: color 1.5s;
}
a:hover{
  text-decoration: none;
  color:#202020;
  transition: color .5s;
}
#navbardetection{
  opacity: 0.2;
  background: #900;
  min-height=100px;
}
.navbar-fixed-top .container-fluid {
  max-width: 1280px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #000000;
  background-color: #111111;
}

.navbar {
  margin-bottom: 0;
  box-shadow: 0px 2px 5px black;
}

.navbar li {
  margin-right: 5px;
  transition: background .5s;
}

.navbar li:hover {
  background: #094965;
  transition: background .5s;
}

.jumbotron {
  margin-bottom: 0px;
}

#home {
  background: url('https://raw.githubusercontent.com/CDEguia/CDEguia.github.io/master/images/sky-828648_1280.jpg') no-repeat center center fixed;
}

.center-block {
  float: none;
}

.jumbo-size {
  position: relative;
}

.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#home h1{
  color: var(--main-color);
}
h1.other{
  padding: 5px;
  color: #000000;
  background-color: rgba(245, 245, 245, 0.4);
  border-radius: 75px;
}

#about {
  background: url('https://raw.githubusercontent.com/CDEguia/CDEguia.github.io/master/images/starry-sky-1082279_1280.jpg') no-repeat center center fixed;
  color: white;
}

#about img {
  display: block;
  margin: 50px auto 20px auto;
  box-shadow: 0px 0px 15px black;
}

li {
  font-size: 1.25em;
}

#portfolio {
  background: url('https://raw.githubusercontent.com/CDEguia/CDEguia.github.io/master/images/forest-1183524_1280.jpg') no-repeat center center fixed;
  min-height: 1200px;
}

.thumbnail {
  background-color: rgba(124, 124, 124, 0.8);
}
ul {
  color: #000000;
display: block;
  text-align: left;
list-style-type: disc;
margin-before: 1em;
margin-after: 1em;
margin-start: 0;
margin-end: 0;
padding-start: 40px; }

#connect {
  color: white;
  background: #413127;
}
:root {
  --icon-size: 3.5em;
  --icon-increase: 1.4em;
}
.icon {
  margin: calc(var(--icon-increase)/2) ;
  width: var(--icon-size);
  height:  var(--icon-size);
  transition: .5s;
}

.icon:hover {
  margin: 0em;
  width: calc(var(--icon-size) + var(--icon-increase));
  height: calc(var(--icon-size) + var(--icon-increase));
  transition: .5s;
}

@media (max-width: 768px) {
  .navbar-right {
    float: right!important;
  }
  .navText {
    display: none;
  }
  .navbar-nav {
    display: flex;
  }
}

@media (max-width: 464px) {
  #portfolio {
    height: 1300px;
  }
  .navbar-brand,
  .navText {
    display: none;
  }
  .navbar-nav {
    display: flex;
  }
 
  #portfolio {
    min-height: 2100px;
  }
  #cicons {
    margin-left: auto;
    margin-right: auto;
  }
  
}
